<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="decorator/base">

<head layout:fragment="head-definition">
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

<title>Events Fabrics</title>

<link href="../../ui/ui-bootstrap/css/bootstrap.min.css"
	th:href="@{/ui/ui-bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>

<link href="../../ui/ui-bootstrap/font-awesome/css/font-awesome.css"
	th:href="@{/ui/ui-bootstrap/font-awesome/css/font-awesome.css}"
	rel="stylesheet"></link>

<!-- Data Tables -->
<link
	href="../../ui/ui-bootstrap/css/plugins/dataTables/dataTables.bootstrap.css"
	th:href="@{/ui/ui-bootstrap/css/plugins/dataTables/dataTables.bootstrap.css}"
	rel="stylesheet"></link>
<link
	href="../../ui/ui-bootstrap/css/plugins/dataTables/dataTables.responsive.css"
	th:href="@{/ui/ui-bootstrap/css/plugins/dataTables/dataTables.responsive.css}"
	rel="stylesheet"></link>
<link
	href="../../ui/ui-bootstrap/css/plugins/dataTables/dataTables.tableTools.min.css"
	th:href="@{/ui/ui-bootstrap/css/plugins/dataTables/dataTables.tableTools.min.css}"
	rel="stylesheet"></link>

<link href="../../ui/ui-bootstrap/css/animate.css"
	th:href="@{/ui/ui-bootstrap/css/animate.css}" rel="stylesheet"></link>
<link href="../../ui/ui-bootstrap/css/style.css"
	th:href="@{/ui/ui-bootstrap/css/style.css}" rel="stylesheet"></link>
	
<link href="../../ui/ui-bootstrap/css/plugins/chosen/chosen.css"
	th:href="@{/ui/ui-bootstrap/css/plugins/chosen/chosen.css}"
	rel="stylesheet"></link>	
	
<!-- Toastr style -->
<link href="../../../ui/ui-bootstrap/css/plugins/toastr/toastr.min.css"
	th:href="@{/ui/ui-bootstrap/css/plugins/toastr/toastr.min.css}"
	rel="stylesheet"></link>	

<!-- Additional Style -->
<link href="../../ui/css/events_style.css"
	th:href="@{/ui/css/events_style.css}" rel="stylesheet"></link>
<link href="../../ui/css/style.css" th:href="@{/ui/css/style.css}"
	rel="stylesheet"></link>
</head>

<body>
	<span layout:fragment="page-title">BUSINESS EVENT DEFINITION</span>
	<div layout:fragment="page-control">
		<button type="button" class="btn btn-default btn-outline"
			id="addData">
			<i class="fa fa-plus"></i>
		</button>
		<button type="button" class="btn btn-default btn-outline"
			title="SearchQuery" id="search-dialog" data-target="#searchEvent"
			data-toggle="modal">
			<i class="fa fa-search"></i>
		</button>
		<button type="button" class="btn btn-default btn-outline"
			title="Refresh" id="re-query">
			<i class="fa fa-refresh"></i>
		</button>
	</div>
	<div layout:fragment="main-content">



		<div class="modal inmodal" id="searchEvent" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content animated bounceInRight">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">EVENT SEARCH</h4>
						<small class="font-bold"></small>
					</div>
					<div class="modal-body">
						<form id="searchEvents">
							<div class="row">
								<span class="col-sm-3">EVENT NAME</span>
								<div class="col-sm-9">
									<div class="input-group m-b">
										<span class="input-group-addon">eq.</span> <input type="text"
											id="eventName" name="eventNameId" placeholder=""
											class="form-control"></input>
									</div>
								</div>
							</div>
							<div class="row">
								<span class="col-sm-3">EVENT BASE</span>
								<div class="col-sm-9">
									<div class="input-group m-b">
										<span class="input-group-addon">eq.</span> <input type="text"
											id="eventBase" name="eventBaseId" placeholder=""
											class="form-control"></input>
									</div>
								</div>
							</div>
							<div class="row">
								<span class="col-sm-3">OWNER</span>
								<div class="col-sm-9">
									<div class="input-group m-b">
										<select class="chosen-select" multiple=""
											data-placeholder="No Owner selected" id="owner-name"
											name="ownerName">
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<span class="col-sm-3">GROUP</span>
								<div class="col-sm-9">
									<div class="input-group m-b">
										<select class="chosen-select" multiple=""
											data-placeholder="No Group selected" id="group-name"
											name="groupName">
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<span class="col-sm-3">SYSTEM SOURCE</span>
								<div class="col-sm-9">
									<div class="input-group m-b">
										<span class="input-group-addon">like</span> <input type="text"
											placeholder="" class="form-control" name="sysSource"
											id="sys-source"></input>
									</div>
								</div>
							</div>

							<div class="row">
								<span class="col-sm-3">SYSTEM TARGET</span>
								<div class="col-sm-9">
									<div class="input-group m-b">
										<span class="input-group-addon">like</span>
										<textarea class="form-control" rows="4" placeholder=""
											id="sys-target" name="sysTarget"></textarea>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							id="btnSearchEvent">Search</button>
					</div>
				</div>
			</div>
		</div>




		<div class="panel panel-default imx-screen-adjustment">
			<div class="panel-body table-responsive">
				<div class="col-sm-12">
					<div class="row">
						<table id="dt-event" class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Event Name</th>
									<th>Event Base</th>
									<th></th>
									<th>Owner</th>
									<th>State</th>
									<th>Group</th>
									<th>System Source</th>
									<th>System Target</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div layout:fragment="ext-script-definition">
		<!-- Data Tables -->
		<script
			src="../../ui/ui-bootstrap/js/plugins/dataTables/jquery.dataTables.js"
			th:src="@{/ui/ui-bootstrap/js/plugins/dataTables/jquery.dataTables.js}"></script>
		<script
			src="../../ui/ui-bootstrap/js/plugins/dataTables/dataTables.bootstrap.js"
			th:src="@{/ui/ui-bootstrap/js/plugins/dataTables/dataTables.bootstrap.js}"></script>
		<script
			src="../../ui/ui-bootstrap/js/plugins/dataTables/dataTables.responsive.js"
			th:src="@{/ui/ui-bootstrap/js/plugins/dataTables/dataTables.responsive.js}"></script>
		<script
			src="../../ui/ui-bootstrap/js/plugins/dataTables/dataTables.tableTools.min.js"
			th:src="@{/ui/ui-bootstrap/js/plugins/dataTables/dataTables.tableTools.min.js}"></script>
			<!-- Chosen -->
		<script src="../../ui/ui-bootstrap/js/plugins/chosen/chosen.jquery.js"
			th:src="@{/ui/ui-bootstrap/js/plugins/chosen/chosen.jquery.js}"></script>
			
	</div>
	<div layout:fragment="final-script-onstage">
		<script src="../../ui/js/events_script.js"
			th:src="@{/ui/js/events_script.js}"></script>
	</div>


</body>

</html>
